
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 10px;
    max-width: 600px;
    margin-top: 20px;
}

.card {
    width: 100%;
    height: 100px;
    background-color: rgb(19, 218, 85);
    border: 1px solid #999;
    display: -ms-inline-grid;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    cursor: pointer;
    transition: transform 0.5s ease; /* Add transition property */
}

.flipped {
    transform: rotateY(180deg);
}

.hidden {
    display: none;
}

button {
    margin-top: 20px;
    padding: 10px;
    font-size: 1em;
    cursor: pointer;
}
/* Add this to your existing CSS */
.card-value {
    font-size: 1em;
    color: rgb(10, 30, 255);
}


